:root {
  --gradient: linear-gradient(45deg, #0f002e, #504767, #9993a5, #e7e7e7);
  --main-color: #0f002e;
  --light-Shade-01: #0f063b;
  --Light-Shade-02: #0d0b48;
  --Light-Shade-03: #0e1754;
  --White-Shade-02: #e7e7e7;
  --Dark-Shade-01: #c1c1c1;
  --Dark-Shade-02: #9d9d9d;
}

*{
    margin: 0;
    padding: 0;
}

body {
  background-color: -var(--White-Shade-01);
}
.dashboard{
    display: Flex;
}
.side-board{
    width: clamp(200px, 20vw , 600px)
}
.logo-container{
    display: flex;
    border: 1px dotted;
}

.icon {
  width: 16px;
  height: 16px;
}
